
    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu">
      <div class="container">
        <div class="section-title">
          <h2>Notre <span>Menu</span></h2>
        </div>
        
        <h2>Entree</h2>
          <div class="row menu-container">
          <% unless @entrees.empty? %>
            <% @entrees.each do |entree|%>
              <div class="col-lg-6 menu-item filter-starters">
                <div class="menu-content">
                    <a href="#"><%= entree.name %></a>
                    <span><%= entree.price %> Ar</span>
                </div>
                <div class="menu-ingredients">
                  <%= entree.description %>
                  <br><strong>Duration: <%= entree.duration %> min</li></strong>
                </div>
              </div>
            <%end%>
          <%end%>

          <div class="col-lg-6 menu-item filter-specialty">
            <div class="menu-content">
              <a href="#">Bread barrel</a><span>$6.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div>
           <div class="col-lg-6 menu-item filter-specialty">
            <div class="menu-content">
              <a href="#">Bread barrel</a><span>$6.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div>
           <div class="col-lg-6 menu-item filter-specialty">
            <div class="menu-content">
              <a href="#">Bread barrel</a><span>$6.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div>
           <div class="col-lg-6 menu-item filter-specialty">
            <div class="menu-content">
              <a href="#">Bread barrel</a><span>$6.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div>
           <div class="col-lg-6 menu-item filter-specialty">
            <div class="menu-content">
              <a href="#">Bread barrel</a><span>$6.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div>
      </div>
     <hr>
      <h2>Resistances</h2>
         <div class="row menu-container">
          <% unless @resistances.empty? %>
            <% @resistances.each do |plat|%>
              <div class="col-lg-6 menu-item filter-starters">
                <div class="menu-content">
                    <a href="#"><%= plat.name %></a>
                    <span><%= plat.price %> Ar</span>
                </div>
                <div class="menu-ingredients">
                  <%= plat.description %>
                  <br><strong>Duration: <%= plat.duration %> min</li></strong>
                </div>
              </div>
            <%end%>
          <%end%>
           <div class="col-lg-6 menu-item filter-specialty">
            <div class="menu-content">
              <a href="#">Bread barrel</a><span>$6.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div>
           <div class="col-lg-6 menu-item filter-specialty">
            <div class="menu-content">
              <a href="#">Bread barrel</a><span>$6.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div>
           <div class="col-lg-6 menu-item filter-specialty">
            <div class="menu-content">
              <a href="#">Bread barrel</a><span>$6.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div>
           <div class="col-lg-6 menu-item filter-specialty">
            <div class="menu-content">
              <a href="#">Bread barrel</a><span>$6.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div>
        </div>
     <hr>
        <h2>Deserts</h2>
         <div class="row menu-container">
          <% unless @desserts.empty? %>
            <% @desserts.each do |dessert|%>
              <div class="col-lg-6 menu-item filter-starters">
                <div class="menu-content">
                    <a href="#"><%= dessert.name %></a>
                    <span><%= dessert.price %> Ar</span>
                </div>
                <div class="menu-ingredients">
                  <%= dessert.description %>
                  <br><strong>Duration: <%= dessert.duration %> min</li></strong>
                </div>
              </div>
            <%end%>
          <%end%>
           <div class="col-lg-6 menu-item filter-specialty">
            <div class="menu-content">
              <a href="#">Bread barrel</a><span>$6.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div>
           <div class="col-lg-6 menu-item filter-specialty">
            <div class="menu-content">
              <a href="#">Bread barrel</a><span>$6.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div>
           <div class="col-lg-6 menu-item filter-specialty">
            <div class="menu-content">
              <a href="#">Bread barrel</a><span>$6.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div>
           <div class="col-lg-6 menu-item filter-specialty">
            <div class="menu-content">
              <a href="#">Bread barrel</a><span>$6.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div>
        </div>
    </section><!-- End Menu Section -->

