<body id="bg-img">   
   <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
       
        <div class="wrapper">
         <h2 style ="margin: 1em;color:white";>Saisir votre email pour avoir le code de restauration.</h2>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>               
            
              <%= f.email_field :email, autofocus: true, :placeholder => 'Email' %>
              <%= f.submit "Envoyer" ,:class => "btn btn-outline-success" %>
       
            <%= render "devise/shared/links" %>
            <% end %>
            
      <ul class="bg-bubbles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
      </ul>
     
      </div>
          <%= render "devise/shared/error_messages", resource: resource %>
  </div>
</div>

</body>   