<!-- ======= Resto Section ======= -->
<section id="hero">
  <div class="hero-container">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <!-- Slide 1 -->
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag  "slide/slide-1.jpg", :class => "d-block" %>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animated fadeInDown"><span><%= @restaurant.name %></span> Restaurant</h2>
                <p class="animated fadeInUp"><%= @restaurant.description %></p>
                <div>
                  <a href="<%= restaurants_menus_path(@restaurant.id) %>" class="btn-menu animated fadeIn scrollto">Nos menus</a>
                  <a href="<%= reservation_path(@restaurant.id) %>" class="btn-book animated fadeIn scrollto">Réserver</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item">
            <%= image_tag  "slide/slide-2.jpg", :class => "d-block w-100" %>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animated fadeInDown"><span><%= @restaurant.name %></span> Restaurant</h2>
                <p class="animated fadeInUp"><%= @restaurant.adress %></p>
                <div>
                  <a href="<%= restaurants_menus_path(@restaurant.id) %>" class="btn-menu animated fadeIn scrollto">Nos menus</a>
                  <a href="<%= reservation_path(@restaurant.id) %>" class="btn-book animated fadeIn scrollto">Réserver</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item">
            <%= image_tag  "slide/slide-3.jpg", :class => "d-block w-100" %>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animated fadeInDown"><span><%= @restaurant.name %></span> Restaurant</h2>
                <p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                <div>
                  <a href="<%= restaurants_menus_path(@restaurant.id) %>" class="btn-menu animated fadeIn scrollto">Nos menus</a>
                  <a href="<%= reservation_path(@restaurant.id) %>" class="btn-book animated fadeIn scrollto">Réserver</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- End Hero -->

  <div class="container mt-5">

        <div class="info-wrap">
          <div class="row">
            <div class="col-lg-3 col-md-6 info">
              <i class="icofont-google-map"></i>
              <h4>Location:</h4>
              <p>A108 Adam Street<br>New York, NY 535022</p>
            </div>

            <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
              <i class="icofont-clock-time icofont-rotate-90"></i>
              <h4>Open Hours:</h4>
              <p>Monday-Saturday:<br>11:00 AM - 2300 PM</p>
            </div>

            <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
              <i class="icofont-envelope"></i>
              <h4>Email:</h4>
              <p>info@example.com<br>contact@example.com</p>
            </div>

            <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
              <i class="icofont-phone"></i>
              <h4>Call:</h4>
              <p>+1 5589 55488 51<br>+1 5589 22475 14</p>
            </div>
          </div>
        </div>
      </div>
